<h1>Carded Stock</h1>
<table class="table table-bordered">
      <tbody>
        <tr>
          <th rowspan="2" align="center">
          </th>
          <th colspan="2" align="center">STOCK</th>
          <th colspan="2" align="center">CARDS</th>
          <th rowspan="2">CARDS<br />PER C CARDS</th>
          <th rowspan="2">PER CARD</th>
          <th rowspan="2">SIZE</th>
        </tr>

        <tr>
          <th>NUMBERS<br />Zinc</th>
          <th>PACKED<br />Brass</th>
          <th>Per Box</th>
          <th>Per Case</th>
        <tr>
          <th rowspan="12">Carded Stock</th>
          <td>000U</td>
          <td></td>
          <td>10</td>
          <td>100</td>
          <td>41.50</td>
          <td>2</td>
          <td>7 5/8 x 3 3/4</td>
        </tr>

        <tr>
          <td>00U</td>
          <td></td>
          <td>10</td>
          <td>100</td>
          <td>29.44</td>
          <td>2</td>
          <td>7 5/8 x 3 3/4</td>
        </tr>

        <tr>
          <td>0U</td>
          <td></td>
          <td>10</td>
          <td>100</td>
          <td>22.50</td>
          <td>2</td>
          <td>7 5/8 x 3 3/4</td>
        </tr>

        <tr>
          <td>1U</td>
          <td></td>
          <td>10</td>
          <td>100</td>
          <td>18.50</td>
          <td>2</td>
          <td>4 5/8 x 3 3/4</td>
        </tr>

        <tr>
          <td>2U</td>
          <td></td>
          <td>10</td>
          <td>100</td>
          <td>14.88</td>
          <td>2</td>
          <td>4 5/8 x 3 3/4</td>
        </tr>

        <tr>
          <td>3U</td>
          <td></td>
          <td>10</td>
          <td>100</td>
          <td>11.75</td>
          <td>2</td>
          <td>4 5/8 x 3 3/4</td>
        </tr>

        <tr>
          <td>4U</td>
          <td></td>
          <td>10</td>
          <td>100</td>
          <td>14.33</td>
          <td>3</td>
          <td>4 5/8 x 3 3/4</td>
        </tr>

        <tr>
          <td>6U</td>
          <td></td>
          <td>10</td>
          <td>100</td>
          <td>12.06</td>
          <td>4</td>
          <td>4 5/8 x 3 3/4</td>
        </tr>

        <tr>
          <td>8U</td>
          <td></td>
          <td>10</td>
          <td>100</td>
          <td>11.63</td>
          <td>6</td>
          <td>3 5/8 x 2 3/4</td>
        </tr>

        <tr>
          <td>10U</td>
          <td></td>
          <td>10</td>
          <td>100</td>
          <td>9.56</td>
          <td>8</td>
          <td>3 5/8 x 2 3/4</td>
        </tr>

        <tr>
          <td>12U</td>
          <td></td>
          <td>10</td>
          <td>100</td>
          <td>7.25</td>
          <td>10</td>
          <td>3 5/8 x 2 3/4</td>
        </tr>

        <tr>
          <td>14U</td>
          <td></td>
          <td>10</td>
          <td>100</td>
          <td>5.00</td>
          <td>12</td>
          <td>3 5/8 x 2 3/4</td>
        </tr>
      </tbody>
    </table>