<div id="pre-footer">
  <div class="container top-padding-40">

      <div class="col-md-4">
        <div class="bucket">
          <h3>Custom Orders</h3>
          <p>Our flexible manufacturing process allows us to create custom products at any quantity and at reasonable prices. Send us your requirements and we'll get you a quote.</p>
        </div>
      </div>
    
      <div class="col-md-4">
        <div class="bucket"><h3>Made in the U.S.A.</h3>
          <p>Larson proudly has 25 employees and manufactures all products in the US.</p>
          <%= image_tag 'flag.png', class: 'img-responsive' %>
        </div>
      </div>

      <div class="col-md-4">
        <div class="bucket">
          <h3>Receive Special Offers</h3>
          <p>Sign up to receive news and special offers from Larson Hardware.</p>
          <form>
            
              <div class="form-group">
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
              </div>
            
            <button class="btn btn-primary col-md-6">Submit</button>
          </form>
        </div>
      </div>
      
  </div>
</div>