<div class="col-md-4 product">
  <div class="row">
    <div class="col-md-5 col-xs-4">
      <%= image_tag 'prod1.gif', class: 'img-responsive' %>
    </div>
    <div class="col-md-7 col-xs-8">
     <h3>Eyebolts</h3>
      <ul>
        <li>Open Eye Eyebolts</li>
        <li>Short Stem Eyebolts</li>
        <li>Lag Screw Eyebolts</li>
        <li>Electricians Eyebolts</li>
        <li>Carded Stock</li>
      </ul>
    </div>
  </div>
</div>