<div class="container" style="position:relative;">
  <div class="row col-md-12 col-xs-10">
    <h1 class="ribbon">
      <strong class="ribbon-content"><span>Questions about your order? Call: (815) 625-0503</span><span class="pull-right" style="padding-right:20px;"><a href="#" class="yellow-link">Download</a> our full catalog.</span></strong>
    </h1>
  </div>
</div>